@model HealthyEnvironment.ViewModels.Discussions.DiscussionsInCategoryListViewModel
@{
    ViewData["Title"] = "DiscussionsInCategory";
}

<h2>Discussions in @Model.CategoryName</h2>

<div class="text-center">
    <a asp-controller="Discussions" asp-action="CreateDiscussionInCategory" asp-route-categoryId="@Model.CategoryId">Start discussion in this category</a>
</div>

<div class="container">
    @foreach (var discussion in Model.Discussions)
    {

        <div class="well">
            <div class="media">
                <a class="pull-left" href="@discussion.ImageUrl" target="_blank">
                    <img class="media-object" src="@discussion.ImageUrl" height="100" width="100" alt="No image">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">@discussion.About</h4>
                    <p class="text-right">@discussion.CreatorName</p>
                    <p>
                        @discussion.AdditionalInfoEscape
                    </p>
                    <ul class="list-inline list-unstyled">
                        <li><span><i class="glyphicon glyphicon-calendar"></i>@discussion.CreatedOn</span></li>
                        <li>|</li>
                        <li><span>@discussion.SolutionsCount solutions</span></li>
                        <li>|</li>
                        <li><a asp-controller="Discussions" asp-action="DiscussionDetails" asp-route-discussionId="@discussion.DiscussionId" class="btn btn-medium btn-success">Enter discussion</a></li>
                    </ul>
                </div>
            </div>
        </div>
    }
</div>

