@model HealthyEnvironment.ViewModels.Discussions.DiscussionsInCategoryListViewModel
@{
    ViewData["Title"] = "DiscussionsInCategory";
}

<h2>Discussions in @Model.CategoryName</h2>

@*<div class="container">
    <div class="row">
        @foreach (var discussion in Model.Discussions)
        {
            <div class="col-lg-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@discussion.ImageUrl" alt="Card image cap" width="150" height="100">
                    <div class="card-body">
                        <h5 class="card-title">@discussion.About</h5>
                        <p class="card-text">@discussion.AdditionalInfo</p>
                        <p class="card-text">Started on:@discussion.CreatedOn</p>
                        <a href="/Discussions/DiscussionDetails?discussionId=@discussion.DiscussionId" class="btn btn-primary">Enter discussion</a>
                    </div>
                </div>
            </div>

        }
    </div>
</div>*@
<div class="container">
    @foreach (var discussion in Model.Discussions)
    {

        <div class="well">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="@discussion.ImageUrl" height="100" width="100">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">@discussion.About</h4>
                    <p class="text-right">@discussion.CreatorName</p>
                    <p>
                        @discussion.AdditionalInfoEscape
                    </p>
                    <ul class="list-inline list-unstyled">
                        <li><span><i class="glyphicon glyphicon-calendar"></i>@discussion.CreatedOn</span></li>
                        <li>|</li>
                        <li><span>@discussion.SolutionsCount solutions</span></li>
                        <li>|</li>
                        <li><a asp-controller="Discussions" asp-action="DiscussionDetails" asp-route-discussionId="@discussion.DiscussionId" class="btn btn-medium btn-success">Enter discussion</a></li>
                    </ul>
                </div>
            </div>
        </div>
    }
</div>

