@model MySecondTryForum.ViewModels.Topics.AllTopicsViewModel
@{
    ViewData["Title"] = "All";
}
<head>
    <style>
        ul#menu li {
            display: inline;
        }
    </style>
</head>
<h1 align="center">All topics</h1>
<h2 align="center"><a href="/Topics/Create">[Open a topic]</a></h2>
<hr />

@foreach (var topic in @Model.Topics)
{
    <div class="card">
        <div class="card-header">
            @topic.CreateOn
        </div>
        <div class="card-body">
            <h5 class="card-title">@topic.TopicName</h5>
            <p class="card-text">Comments: @topic.Comments</p>
            <p class="card-text">Posters: @topic.Posters</p>
            <a href="/Topics/Details?id=@topic.TopicId" class="btn btn-primary">Details</a>
            <a href="/Comments/Reply?id=@topic.TopicId" class="btn btn-primary">Post a reply</a>
        </div>
    </div>
}
