@model MySecondTryForum.ViewModels.Comments.TopicCommentsViewModel

@{
    ViewData["Title"] = "AllComents";
}

<h1>@Model.Header</h1>
<h2>@Model.CreatedOn</h2>
<h3>@Model.Creator</h3>
@foreach (var comment in @Model.Comments)
{
    <span>@comment.Username</span> <span>@comment.PostedOn</span>
    @if (comment.ImagePath != null)
    {
        <div>
            <img src="@comment.ImagePath" runat="server" id="ImagePath" alt="@comment.ImagePath" width="600" height="600" />
        </div>
    }


    <p>@comment.Content</p>
}
<a class="btn btn-primary btn-lg" href="/Comments/Reply?id=@Model.TopicId" role="button">Post a reply</a>
<a class="btn btn-primary btn-lg" href="/Topics/Details?id=@Model.TopicId" class="btn btn-primary">Details</a>

