@model FurnitureOnlineShop.ViewModels.Categories.AllCategoriesViewModel

@{
    ViewData["Title"] = "Home Page";
}
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        <partial name="_TreeViewPartial" model="@Model.CategoryMenu" />
    </div>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <a class="btn btn-primary" asp-area="Administration" asp-controller="Home" asp-action="Index">Админ Меню</a>
</div>

<br />
<div class="container">
    <div class="row">
        @foreach (var category in Model.AllCategories)
        {
            <div class="col col-12 col-xxl-3 col-xs-12 col-sm-12 col-md-6 col-lg-12">
                <div class="category">
                    <img src="@category.ImagePath" class="card-img-top" alt="..." height="200" width="50">
                    <div class="card-body">
                        <h5 class="card-title"><a asp-controller="Products" asp-action="AllProductsInCategory" asp-route-categoryId="@category.CategoryId">@category.CategoryName</a></h5>
                        <p class="card-text">@category.Description</p>
                        <a class="btn btn-secondary collapse-absolute" data-bs-toggle="collapse" href="#cardMenu_@category.CategoryId" role="button" aria-expanded="false" aria-controls="cardMenu">
                            Подкатегории
                        </a>
                    </div>
                    <p>
  
                    </p>
                    <div class="collapse" id="cardMenu_@category.CategoryId">
                        <div class="list-group">
                            @foreach (var subCategory in category.SubCategories)
                            {
                                <a asp-controller="SubCategory" asp-action="SubCategoryItems" asp-route-subCategoryId="@subCategory.SubCategoryId" asp- class="list-group-item list-group-item-action">@subCategory.SubCategoryName</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="push"></div>