@model FurnitureOnlineShop.ViewModels.Categories.CategorySubCategoryDetails


@foreach (var subCategory in Model.SubCategoryItems)
{
    <h3><a href="https://google.com">@Model.CategoryName</a><span style="font-size: 2rem">/</span><a asp-controller="SubCategory" asp-action="SubCategoryItems" asp-route-subCategoryId="@subCategory.SubCategoryId">@subCategory.SubCategoryName</a></h3>
    <br />
    <div class="container sub-category-sep box-separator">
        <div class="row">
            @foreach (var product in subCategory.Products)
            {
                <div class="col col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 box-separator">
                    <div class="category-details-box">
                        <h6 class="product-text">@product.ProductName</h6>
                        <img class="cetegory-details-image" src="@product.ImagePath" alt="Alternate Text" />
                        <p class="product-text">@product.Description</p>
                        <p class="product-text">@product.Price</p>
                    </div>
                    <a ></a>
                </div>
            }
        </div>
    </div>
}