@model FurnitureOnlineShop.Areas.Administration.InputModels.Products.CreateProductInputModel
@{
    ViewData["Title"] = "CreateProduct";
}
<div class="text-center">
    <h1>Добави продукт</h1>
</div>


<form asp-area="Administration" asp-controller="Products" asp-action="CreateProduct" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="@Model.ProductName."></label>
        <input asp-for="@Model.ProductName" class="form-control" />
        <span asp-validation-for="@Model.ProductName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Description"></label>
        <input asp-for="@Model.Description" class="form-control" />
        <span asp-validation-for="@Model.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.ColorId"></label>
        <select asp-for="@Model.ColorId" asp-items="@Model.Colors.Select(c => new SelectListItem(c.Text,c.Value))" class="form-control" id="colorsSelect">
        </select>
        <span asp-validation-for="@Model.ColorId" class="text-danger"></span>
        <a class="btn btn-success btn-sm" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Добави цвят
        </a>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <label>Цвят</label>
                <input type="text" id="colorName" class="form-control" />
                <a class="btn btn-secondary" onclick="addColor()"></a>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Price"></label>
        <input asp-for="@Model.Price" class="form-control" />
        <span asp-validation-for="@Model.Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Quantity"></label>
        <input asp-for="@Model.Quantity" class="form-control" />
        <span asp-validation-for="@Model.Quantity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.CategoryId"></label>
        <select asp-for="@Model.CategoryId" asp-items="@Model.Categories.Select(sc => new SelectListItem(sc.Text,sc.Value))" class="form-control" onchange="getSubCategoryItems(this.value)">
        </select>
    </div>
    <div class="form-group">
        <label asp-for="@Model.SubCategoryId"></label>
        <select asp-for="@Model.SubCategoryId" id="subCategoryDropDown" class="form-control">
        </select>
    </div>
    <div class="form-group">
        <label asp-for="@Model.ProductImagePath"></label>
        <input asp-for="@Model.ProductImagePath" class="form-control" />
        <span asp-validation-for="@Model.ProductImagePath" class="text-danger"></span>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-success btn-lg">Добави</button>
    </div>
</form>

