@model  HealthyEnvironment.Areas.Administration.ViewModels.Products.CreateProductViewModel
@{
    ViewData["Title"] = "CreateProduct";
}

<h2>CreateProduct</h2>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="@Model.Name"></label>
        <input type="text" class="form-control" asp-for="@Model.Name" placeholder="Enter product name">
        <span class="text-danger" asp-validation-for="@Model.Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.CategoryId"></label>
        <select class="form-control" name="categoryId" asp-for="@Model.CategoryId" asp-items="@Model.Categories.Select(c => new SelectListItem(c.CategoryName,c.CategoryId))">
        </select>
        <span class="text-danger" asp-validation-for="@Model.CategoryId"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Discription"></label>
        <textarea class="form-control" asp-for="@Model.Discription" rows="3" placeholder="Enter product description"></textarea>
        <span class="text-danger" asp-validation-for="@Model.Discription"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Price"></label>
        <input type="number" class="form-control" asp-for="@Model.Price" placeholder="Enter product price">
        <span class="text-danger" asp-validation-for="@Model.Price"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Image"></label>
        <input type="file" class="form-control" asp-for="@Model.Image" placeholder="Upload product picture">
        <span class="text-danger" asp-validation-for="@Model.Price"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Count"></label>
        <input type="number" class="form-control" asp-for="@Model.Count" placeholder="Set product quantity in stock">
        <span class="text-danger" asp-validation-for="@Model.Count"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.AdditionalImages"></label>
        <input class="form-control" asp-for="@Model.AdditionalImages" placeholder="Upload product additional images">
        <span class="text-danger" asp-validation-for="@Model.AdditionalImages"></span>
    </div>
    <div class="text-center">
        <button type="submit">Create product</button>
    </div>
</form>
