@model FurnitureOnlineShop.Areas.Administration.InputModels.Categories.CreateCategoryInputModel

<h1>Създай нова категория</h1>

<form asp-area="Administration" asp-controller="Categories" asp-action="CreateCategory" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="@Model.CategoryName"></label>
        <input asp-for="@Model.CategoryName" class="form-control" />
        <span asp-validation-for="@Model.CategoryName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Description"></label>
        <input asp-for="@Model.Description" class="form-control" />
        <span asp-validation-for="@Model.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Image"></label>
        <input asp-for="@Model.Image" class="form-control" />
        <span asp-validation-for="@Model.Image" class="text-danger"></span>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Създай нова категория</button>
        <a class="btn btn-danger" asp-area="Administration" asp-controller="Categories" asp-action="CategoriesMenu">Назад</a>
    </div>
</form>

