@model MotMaintOnline4.ViewModels.Home.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Поддръжка на мотор</h1>
    <hr />
    <br />
    <button class="button-add" onclick="document.getElementById('id01').style.display='block'">Добави потребител</button>
    <div id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close modal">$times;</span>

        <form class="modal-content animate" asp-controller="Home" asp-action="AddUser" method="post">
            <div class="cont">
                <label>Потребител</label>
                <input asp-for="@Model.UserInputModel.Name" />
                <button class="button-add" type="submit">Добави</button>
            </div>
            <div class="cont" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="canselbtn button-add">Отказ</button>
            </div>
        </form>
    </div>

    <div id="edit-user" style="display:none;" class="modal">
        <form asp-controller="Home" asp-action="EditUser" class="modal-content animate">
            
            <label>Потребител</label>
            <div class="d-flex justify-content-center">
                <input type="text" class="form-control w-50" id="user-edit-input" asp-for="@Model.UserInputModel.Name" />
            </div>

            <input type="hidden" asp-for="@Model.UserInputModel.Id" id="user-edit-id" />
            <button type="submit" class="btn btn-success">Редактирай</button>
            <br />
            <div class="cont" style="background-color:#f1f1f1">
                <button onclick="closeEditUser" class="btn btn-danger">Затвори</button>                
            </div>
        </form>
    </div>

    <br />
    <table class="table table-striped" id="users-table">
        <thead>
            <tr>
                <th scope="col">Номер потребител</th>
                <th scope="col">Име на потребител</th>
                <td scope="col">Детайли</td>
                <td scope="col">Редактирай</td>
                <td scope="col">Изтрий</td>
            </tr>
        </thead>
        <tbody>
            @if (Model.ApplicationUsers.Count() < 1)
            {
                <tr >
                    <td>-</td>
                    <td>Няма потребители</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
            }
            else
            {
                foreach (var user in Model.ApplicationUsers)
                {
                    <tr id="user-data-row-@user.Id">
                        <td><a asp-controller="Users" asp-action="UserDetails" asp-route-id="@user.Id">@user.Id</a></td>
                        <td><a asp-controller="Users" asp-action="UserDetails" asp-route-id="@user.Id" id="user-name-@user.Id">@user.Name</a></td>
                        <td><a asp-controller="Users" asp-action="UserDetails" asp-route-id="@user.Id" class="btn btn-outline-success">Детайли</a></td>
                        <td><a href="#" onclick="openEditUser(@user.Id)" class="btn btn-outline-warning">Редактирай</a></td>
                        <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@user.Id" class="btn btn-outline-danger">Изтрий </a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<script>
    const EDIT_FORM_ID = 'edit-user';
    const USER_TABLE_ID = 'users-table';
    const USER_EDIT_NAME_ID = 'user-edit-input'
    const USER_EDIT_ID_ID = 'user-edit-id';

    var modal = document.getElementById('id01');

    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = 'none';
        }
    }

    function openEditUser(userId) {
        const USER_NAME_ID = 'user-name-';
        var editForm = document.getElementById(EDIT_FORM_ID);
        editForm.style.display = 'block';

        var userName = document.getElementById(USER_NAME_ID + userId).innerHTML;
        var userNameTextField = document.getElementById(USER_EDIT_NAME_ID);
        userNameTextField.value = userName;
        var userEditId = document.getElementById(USER_EDIT_ID_ID);
        userEditId.value = userId;
    }

    function closeEditUser() {
        var editForm = document.getElementById(EDIT_FORM_ID);
        editForm.style.display = 'none';
		
    }

</script>


